.wrap{
    width:100%;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid #eee;
    background: #E9EEF3;
}
.headnew{
    width:1000px;
    height:120px !important;
    margin: auto;
    background: url('../../assets/wrapBg.png') no-repeat center;
    background-size: 100% 100%;
}
.login-main{
    width:1000px;
    height: 880px;
    margin: auto;
    background: white;
}
.login-container {
    width:500px;
    margin:auto;
}
.el-input {
    display: inline-block;
    height: 47px;
    width: 75%;
}
#validate .el-input{
     width: 26%;
}
#validata{
    display:inline-block;
    width:19%;
    height:38px;
    background: #ff7267;
}
#validateImg{
    display:inline-block;
    width: 24%;
    height: 38px;
}
#validateImg img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
#identifying .el-input{
    width: 40%;
}
.auth_text{
    width:180px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color:#ff7267; 
    color:white;
}
.auth_text_blue{
    width:15px;
    color:white;
}
.login-container input {
    background: transparent;
    border: 0px;
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 12px 5px 12px 15px;
    height: 47px;
}
span{
    display:inline-block;
}
.cut{
    width:20%;
    color: red;
}  
.el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #454545;
}


