.wrap{
    height:1000px;
    background-color: #E9EEF3;
}
.el-header{
    background: url('../../assets/wrapBg.png') no-repeat center;
    background-size: cover;
    text-align: center;
  }
#mesHade{
    width: 1000px;
    height: 120px !important;
    margin:auto;
}
#auditMain{
    width: 1000px;
    height: 800px;
    margin: auto;
    background: white;
}
.setp-two{
    margin-top: 100px;
}
#auditMain img{
    width: 100px;
    height: 100px;
    margin: auto;
}
.skipBtn{
    margin-top: 150px;
}
.telData {
  width: 100%;
  line-height: 130px;
  text-align: right;
}
.OKlist{
    width: 45%;
    margin:20px auto;
}
.OKlist p{
    text-align: left;
}